[Unit]
Description=memo-api - mempool observer API
Wants=network.target
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

# FIXME: path to binary
ExecStart=/path/to/memo-api

# FIXME: path to config.toml directory
WorkingDirectory=/path/to/

[Install]
WantedBy=multi-user.target