body {
  font-family: 'Roboto', sans-serif;
  color: #a7c6db;
  background-color: #0d2738;
}
pre {
    color: #a7c6db;
    line-height: 1.5em;
}
code {
    background-color: #0d2738;
    color: #a7c6db;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
h3 {
    padding-top: 20px;
}
h6 {
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 1.1em;
}
a,a:hover {
  color: #c83737;
  font-weight: 400;
}

hr {
    border-color: #a7c6db0f;
    margin-top: 40px;
}

.dygraph-axis-label.dygraph-axis-label-x,.dygraph-axis-label.dygraph-axis-label-y{
    color: #a7c6db;
}
.chartclass{
    max-width: 100%;
    height: auto;
}

#input_txid {
  width: 100%;
  background-color: #0d2738;
  color: #a7c6db;
  border-color: #a7c6db;
}

.img-padding{
    padding-top:20px;
    padding-left: 5%;
    padding-right: 5%;
}

.red_text{
    color: #c83737;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_center{
    margin: 0 auto;
    text-align: center;
}
.container_main{
    margin:0px !important;
}
#card_info_tx_middle_arrow{
    font-size: 4em;
}
.card,.card-header,.card-body,.panel-default{
    background: rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1);
}

.card_margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

#button_load_tx_info{
    background-color: #0d2738;
    border-color: #a7c6db;
    cursor: pointer;
}

#card_info_tx{
    display: none;
}

#card_info_tx_confirmed{
    display: none;
}

#card_info_tx_middle {
    display: table-cell;
    vertical-align: middle;
}

#cursortext{
    font-size: 1.5em;
    visibility: hidden;
}

.text_right{
    text-align: right;
}

.info_text{
    font: 1.15em 'Roboto Slab', serif;
}

.source{
    text-align: right;
    font-size: 0.7em;
}

@media (min-width: 576px) {
    section > article{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (min-width: 768px) {
    section > article{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (min-width: 992px) {
    section > article{
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (min-width: 1200px) {
    section > article{
        margin-left: 50px;
        margin-right: 50px;
    }
}
