<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <!--meta name="viewport" content="width=1200, initial-scale=0.5"-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="theme-color" content="#0d2738"/>
    <link rel="icon" sizes="256x256" href="img/og_preview.png">
    <meta name="description" content="This page visualizes the current mempool of my bitcoin node. You can lookup your unconfirmed transaction enable an alert once it confirms.">
    <meta name="author" content="0xB10C">
    <meta property="og:title" content="mempool.observer" />
    <meta property="og:description" content="This page visualizes the current mempool of my bitcoin node. You can lookup your unconfirmed transaction enable an alert once it confirms." />
    <meta property="og:image" content="/img/og_preview.png" />
    <meta property="og:url" content="https://mempool.observer/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mempoolobserver" />
    <meta name="twitter:creator" content="@0xb10c" />
    <link rel="icon" href="favicon.png">

    <title>mempool.observer</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109541438-2"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
    <!-- mempoolobserver specific stylesheets -->

    <link href="/css/mempoolobserver.css" rel="stylesheet">

</head>
<body>
    <% if (load_txid) { %>
        <script>var load_txid ="<%= load_txid %>";</script>
    <% } %>

    <% if (GAToken) { %>
        <!-- sets the Google Analytics token defined in config.js if not empty -->
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', "<%= GAToken %>");
        </script>
    <% } %>

    <div class="container" id="main_container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid center img-padding" alt="mempool.observer logo" src="img/web_header_transparent.png">
                </div>
            </div>
        </div>

        <br><br>

        <div class="alert alert-info" role="alert" style="display:none;">
            <strong>Heads up!</strong> I reset the database on DD-MM-YY (DD-MM-YY). The data might still be filling up.
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card card_margin">
                    <div class="card-body">
                        <h2 class="card-title">Transaction lookup</h2>
                        <p class="card-text">
                            Paste a transaction id here. The position of the transaction will be highlighted below.
                        </p>
                        <form id="form_tx_info">
                            <div class="input-group">
                                <input type="text" id="input_txid" class="form-control" placeholder="f4184fc596403b9d638783cf57adfe4c75c605f6356fbc91338530e9831e9e16" pattern="[a-fA-F0-9]{64}"  title="transaction id [a-fA-F0-9]{64}">
                                <span class="input-group-btn">
                                    <button type="button" id="button_load_tx_info" class="btn btn-light"> <img src="img/web_button_show.png" /></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card_margin" id="card_info_tx">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span class="text-lowercase" id="card_info_tx_id"></span>
                            <small class="text-muted"><a id="card_info_tx_permalink" target="_blank" href="https://mempool.observer/">permalink</a></small>
                        </h4>
                        <hr>
                        <div id="card_info_tx_unconfirmed" class="container">
                            <div class="row text_center">
                                <div class="col" id="card_info_tx_input"></div>
                                <div class="col-2" id="card_info_tx_middle">
                                    <div class="text_center">
                                        <span class="red_text" id="card_info_tx_middle_arrow">&rarr;</span>
                                    </div>
                                </div>
                                <div class="col" id="card_info_tx_output"></div>
                            </div>
                            <hr>
                            <div class="row text_center">
                                <div class="col">
                                    <span class="badge badge-dark" id="card_info_tx_middle_SpB"></span>
                                </div>
                                <div class="col">
                                    <span class="badge badge-dark" id="card_info_tx_middle_fee"></span>
                                </div>
                                <div class="col">
                                    <span class="badge badge-dark" id="card_info_tx_middle_size"></span>
                                </div>
                                <div class="col">
                                    <span class="badge badge-dark" id="card_info_tx_middle_timestamp"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row text_center">
                                <div class="col" id="card_info_tx_confirmed_sound">
                                    <span>
                                        <label>Notify on first confirmation? <input id="card_info_tx_confirmed_sound_checkbox" type="checkbox" value=""></label>
                                        <br>
                                        <span class="small">
                                            <a target="_blank" href="https://notificationsounds.com/message-tones/attention-seeker-480">Attention Seeker</a>
                                            by
                                            <a target="_blank" href="https://notificationsounds.com">notificationsounds.com</a>
                                            is licensed under
                                            <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/legalcode">CC BY 4.0</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <p id="card_info_tx_confirmed" class="text_center">
                            <span>This transaction confirmed in block
                                <span id="card_info_tx_confirmed_block"></span>.
                            </span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card_margin" id="card_chart">
                    <div class="card-body">
                        <div id="fullscreen-wrapper">

                            <ul class="nav nav-tabs" id="vizTabList" role="tablist">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">tx amount</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item active" id="nav-amount-4h" data-toggle="tab" href="#amount-4h" role="tab" aria-controls="nav-detailed" aria-expanded="true">4h</a>
                                        <a class="dropdown-item" id="nav-amount-24h" data-toggle="tab" href="#amount-24h" role="tab" aria-controls="nav-detailed" aria-expanded="true">24h</a>
                                        <a class="dropdown-item" id="nav-amount-7d" data-toggle="tab" href="#amount-7d" role="tab" aria-controls="nav-detailed" aria-expanded="true">7d</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">tx size</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="nav-size-4h" data-toggle="tab" href="#size-4h" role="tab" aria-controls="nav-detailed-size">4h</a>
                                        <a class="dropdown-item" id="nav-size-24h" data-toggle="tab" href="#size-24h" role="tab" aria-controls="nav-detailed-size">24h</a>
                                        <a class="dropdown-item" id="nav-size-7d" data-toggle="tab" href="#size-7d" role="tab" aria-controls="nav-detailed-size">7d</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">tx fees</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="nav-value-4h" data-toggle="tab" href="#value-4h" role="tab" aria-controls="nav-detailed-value">4h</a>
                                        <a class="dropdown-item" id="nav-value-24h" data-toggle="tab" href="#value-24h" role="tab" aria-controls="nav-detailed-value">24h</a>
                                        <a class="dropdown-item" id="nav-value-7d" data-toggle="tab" href="#value-7d" role="tab" aria-controls="nav-detailed-value">7d</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">bucket amount</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="nav-bucket-amount-4h" data-toggle="tab" href="#bucket-amount-4h" role="tab" aria-controls="nav-bucket-amount" aria-expanded="true">4h</a>
                                        <a class="dropdown-item" id="nav-bucket-amount-24h" data-toggle="tab" href="#bucket-amount-24h" role="tab" aria-controls="nav-bucket-amount" aria-expanded="true">24h</a>
                                        <a class="dropdown-item" id="nav-bucket-amount-7d" data-toggle="tab" href="#bucket-amount-7d" role="tab" aria-controls="nav-bucket-amount" aria-expanded="true">7d</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">bucket size</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="nav-bucket-size-4h" data-toggle="tab" href="#bucket-size-4h" role="tab" aria-controls="nav-bucket-size">4h</a>
                                        <a class="dropdown-item" id="nav-bucket-size-24h" data-toggle="tab" href="#bucket-size-24h" role="tab" aria-controls="nav-bucket-size">24h</a>
                                        <a class="dropdown-item" id="nav-bucket-size-7d" data-toggle="tab" href="#bucket-size-7d" role="tab" aria-controls="nav-bucket-size">7d</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">bucket fees</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id="nav-bucket-value-4h" data-toggle="tab" href="#bucket-value-4h" role="tab" aria-controls="nav-bucket-value">4h</a>
                                        <a class="dropdown-item" id="nav-bucket-value-24h" data-toggle="tab" href="#bucket-value-24h" role="tab" aria-controls="nav-bucket-value">24h</a>
                                        <a class="dropdown-item" id="nav-bucket-value-7d" data-toggle="tab" href="#bucket-value-7d" role="tab" aria-controls="nav-bucket-value">7d</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="nav-segwit-tab" data-toggle="tab" href="#segwit" role="tab" aria-controls="nav-segwit">segwit</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="nav-outputs-tab" data-toggle="tab" data-target="#outputs" href="#outputs" role="tab" aria-controls="nav-outputs">output type</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" onclick="toggleFullscreen()" ><img src="img/web_icon_fullscreen.png"></img></a>
                                </li>
                            </ul>


                            <div id="graphdiv"></div>

                            <p class="card-text text_center cursortext">
                                <span id="cursortext_all">

                                    <span id="cursortext_date_pre"></span>
                                    <span id="cursortext_date" class="red_text"></span>
                                    <span id="cursortext_date_post"></span>

                                    <span id="cursortext_firstvalue" class="red_text"></span>
                                    <span id="cursortext_firstvalue_post"></span>

                                    <span id="cursortext_secondvalue" class="red_text"></span>
                                    <span id="cursortext_secondvalue_post"></span>

                                </span>
                            </p>


                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade" id="outputs" role="tabpanel" aria-labelledby="nav-outputs">
                                    <div class="container text_center">
                                      <div class="row">
                                        <div class="col">
                                            <input type=checkbox id=4 onClick="setOutputsVisibility(this)" checked>
                                            <label for="4">pubkeyhash</label>
                                        </div>
                                        <div class="col">
                                            <input type=checkbox id=5 onClick="setOutputsVisibility(this)" checked>
                                            <label for="5">scripthash</label>
                                        </div>
                                        <div class="col">
                                            <input type="checkbox" id="2" onclick="setOutputsVisibility(this)" checked="">
                                            <label for="2">nulldata (OP_RETURN)</label>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <!-- empty tabs -->
                                <div class="tab-pane fade" id="amount-4h"></div>
                                <div class="tab-pane fade" id="amount-24h"></div>
                                <div class="tab-pane fade" id="amount-7d"></div>
                                <div class="tab-pane fade" id="value-4h"></div>
                                <div class="tab-pane fade" id="value-24h"></div>
                                <div class="tab-pane fade" id="value-7d"></div>
                                <div class="tab-pane fade" id="size-4h"></div>
                                <div class="tab-pane fade" id="size-24h"></div>
                                <div class="tab-pane fade" id="size-7d"></div>

                                <div class="tab-pane fade" id="bucket-amount-4h"></div>
                                <div class="tab-pane fade" id="bucket-amount-24h"></div>
                                <div class="tab-pane fade" id="bucket-amount-7d"></div>
                                <div class="tab-pane fade" id="bucket-value-4h"></div>
                                <div class="tab-pane fade" id="bucket-value-24h"></div>
                                <div class="tab-pane fade" id="bucket-value-7d"></div>
                                <div class="tab-pane fade" id="bucket-size-4h"></div>
                                <div class="tab-pane fade" id="bucket-size-24h"></div>
                                <div class="tab-pane fade" id="bucket-size-7d"></div>

                                <div class="tab-pane fade" id="segwit"></div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card_margin">
            <div class="card-body">
                <section>
                    <article>
                        <header>
                            <h2>
                                <strong>
                                    <a id="faq-what-is-this">What is this?</a>
                                </strong>
                            </h2>
                        </header>
                        <p class="info_text">
                            <a target="_blank" href="https://mempool.observer/">mempool.observer</a> periodically takes a snapshot of my nodes memory pool.
                            You can see a visualization of this data above.
                            The idea is to inform about the mempool and to provide tool, to double check estimated fee/size-ratios.
                        </p>
                    </article>
                    <article>
                        <header>
                            <h3>
                                <strong>
                                    <a id="faq-how-does-this-work">How does this work?</a>
                                </strong>
                            </h3>
                        </header>
                        <p class="info_text">
                            On receiving a before unseen transaction the node starts validating it.
                            Once validated, the transaction is added to the nodes memory pool (mempool) and gets forwarded to other peers.
                            The transaction remains in the nodes mempool until a miner includes it in a block.
                            Keep in mind that each node has its own mempool with the transactions it sees as valid.
                        </p>
                        <p class="info_text">
                            If the total size of all transactions in the mempool is bigger than the available space in the next block,
                            a miner chooses a combination of transactions with the highest fees. The miner receives the fees in addition to the current blockreward.
                        </p>
                        <h6 class="text-uppercase"><a id="info-txsize"><strong>transaction size</strong></a></h6>
                        <p class="info_text">
                            The size of a transaction is based on the number of its inputs <code>n<sub>i</sub></code> and outputs <code>n<sub>o</sub></code>.
                            Transactions with one input and two outputs (<code>n<sub>i</sub>=1</code>, <code>n<sub>o</sub>=2</code>) are quite common.
                            Often one output is a payment and the other is change to a changeaddress owned by the sender.
                            This transactions has a size of 226byte (<code>148byte + 2 * 34byte + 10byte</pre></code>).
                        </p>
                        <p class="text_center info_text"><code> size = n<sub>i</sub> * 148byte + n<sub>o</sub> * 34byte + 10byte</code></p>

                        <h6 class="text-uppercase"><a id="info-txsize"><strong>fee/size-ratio</strong></a></h6>
                        <p class="info_text">
                            Since bigger transaction use more space in a block and thus occupy space which could be filled with small transactions with high fees,
                            bigger transaction need higher fees than a small transaction to be confirmed in the same block.
                        </p>
                        <p class="info_text">
                            This can be expressed as a fee/size-ratio: <code>statoshis per byte</code>
                        </p>
                    </article>
                    <article>
                        <header>
                            <h3>
                                <strong>
                                    <a id="faq-what-can-i-do">What can I do?</a>
                                </strong>
                            </h3>
                        </header>
                        <h6 class="text-uppercase">
                            <a id="info-cpfp">
                                <strong>Child Pays For Parent</strong>
                            </a>
                        </h6>
                        <p class="info_text">
                            Child pays for parent works by creating child transaction from the unconfirmed parent transaction.
                            The idea is to pay the missing fee from the parent by overpaying the child's fee.
                            This only works if you control at least one output of the parent transaction.
                            For example a change output from a transaction you send, or an output from a transaction you receive.
                        </p>
                        <p class="info_text">
                            This is how a child transaction based on a change output would look:
                            <img class="img-fluid center img-padding" alt="child pays for parent" src="img/web_cpfp_transparent.png">
                        </p>

                        <h6 class="text-uppercase"><a id="info-rbf"><strong>Replace by Fee</strong></a></h6>
                        <p class="info_text">
                            Once a node stores a transaction in its mempool, it rejects all other transactions, that spend one of the UTXO's already spend by the first-seen transaction.
                            On one hand this lowers the risk of 0-conf double-spends, on the other hand it prevents the payer to renegotiate the fee if the transaction seems stuck.
                            This is where replace-by-fee (RBF) and its derivatives come into play.
                        </p>
                        <p class="info_text">
                            With <strong>opt-in full-RBF</strong> a transaction can be flagged by the sender as replaceable.
                            A sequence number less than <code>MAX_INT - 1 (0xFFFFFFFF - 1)</code> in any of its inputs is used as flag.
                            Bitcoin Core includes opt-in full-RBF since version 0.12 (released early 2016).
                            A replacement of one or multiple flagged transactions is possible as long as the replacement:
                        </p>
                        <ul class="info_text">
                            <li>pays an absolute higher fee than the original transaction or transactions</li>
                            <li>pays at least <code>minRelayFee * sizeOfReplacementTx + feeOfOriginalTx</code> satoshis.</li>
                            <li>does not replace more than 100 original transactions</li>
                            <li>does not include a new input from a unconfirmed transaction</li>
                        </ul>
                        <p class="info_text">
                            This is completely opt-in as the name suggest.
                            Everyone can decide to treat transactions flagged as replaceable as unsafe till confirmed or don't even allow replacement at all.
                        </p>


                        <p class="source">
                            <a target="_blank" href="https://github.com/bitcoin/bips/blob/master/bip-0125.mediawiki">github.com/bitcoin/bips/blob/master/bip-0125</a>
                            <br>
                            <a target="_blank" href="https://bitcoincore.org/en/faq/optin_rbf/">bitcoincore.org/en/faq/optin_rbf</a>
                        </p>


                        <h6 class="text-uppercase">
                            <a id="info-txaccel">
                                <strong>ViaBTC Transaction Accelerator</strong>
                            </a>
                        </h6>
                        <p class="info_text">
                            ViaBTC offers to accelerate your transaction with their <a target="_blank" href="https://pool.viabtc.com/tools/txaccelerator/">Transaction Accelerator</a> for free.
                            They offer to include up to 100 low-fee transactions per hour in the next block they mine.
                            However they don't accelerate transactions with a fee-size ratio less than 10 sat/byte.
                        </p>

                    </article>
                    <hr>
                    <article>
                        <h6 class="text-uppercase"> <a id="faq-links"><strong>links</strong></a></h6>
                        <dl class="row info_text">
                            <dt class="col-sm-4"><a target="_blank" href="https://en.bitcoin.it/wiki/Fee_bumping">bitcoin.it/wiki/Fee_Bumping</a></dt>
                            <dd class="col-sm-8">Bitcoin wiki entry for fee bumping</dd>

                            <dt class="col-sm-4"><a target="_blank" href="https://jochen-hoenicke.de/queue/">jochen-hoenicke.de/queue</a></dt>
                            <dd class="col-sm-8">Provides a real-time data and displays how Jochen's mempool evolves over time. Has data back to January 2017 and supports different forks.</dd>

                            <dt class="col-sm-4"><a target="_blank" href="https://p2sh.info/dashboard/db/fee-estimation?panelId=2&fullscreen">p2sh.info/dashboard/db/fee-estimation</a></dt>
                            <dd class="col-sm-8">Historical data of estimated fees by API's from bitgo, blocktrail, blockchain.info, 21inc, bitcoind, bitpay, blockcypher, btc.com and insight</dd>

                            <dt class="col-sm-4"><a target="_blank" href="http://blockear.com/">blockear.com</a></dt>
                            <dd class="col-sm-8">Notifies you with a sound once a new Bitcoin block is found.</dd>

                            <dt class="col-sm-4"><a target="_blank" href="https://statoshi.info/">statoshi.info</a></dt>
                            <dd class="col-sm-8">Real time Bitcoin node stats</dd>
                        </dl>
                        <h6 class="text-uppercase"><a id="faq-posts"><strong>posts, literature</strong></a></h6>
                        <dl class="row info_text">
                            <dt class="col-sm-4"><a target="_blank" href="https://blog.bitgo.com/the-challenges-of-bitcoin-transaction-fee-estimation-e47a64a61c72">The Challenges of Bitcoin Transaction Fee Estimation</a></dt>
                            <dd class="col-sm-8">Jameson Lopp provides an great overview over the problems with accurate fee estimation.</dd>
                            <dt class="col-sm-4"><a target="_blank" href="https://medium.com/@jimmysong/the-fee-market-explained-76b294947b42">The Fee Market Explained</a></dt>
                            <dd class="col-sm-8">Jimmy Song explains why Bitcoin without fees would not work.</dd>
                            <dt class="col-sm-4"><a target="_blank" href="https://bitcointechtalk.com/an-introduction-to-bitcoin-core-fee-estimation-27920880ad0">An introduction to Bitcoin Core fee estimation</a></dt>
                            <dd class="col-sm-8">An excellent article about fee estimation in general and how Bitcoin Core [v0.14] handles it.</dd>
                        </dl>
                    </article>
                </section>
            </div>
        </div>
        <hr>
        <br>
        <blockquote class="blockquote blockquote-reverse text_center">
            <p class="mb-0">"What's going to happen to Bitcoin?" is the wrong question. The right question is "What are you going to contribute?"</p>
            <footer class="blockquote-footer"><a href="https://github.com/gmaxwell">Greg Maxwell</a></footer>
        </blockquote>

    </div>


    <footer class="footer container">
        <hr>
        <div class="row">
            <div class="col-md text_center">
                <p>
                    <a target="_blank" href="bitcoin:1memoUrCooGaN1Qgv2KebFDRBrZTjREyY">1memoUrCooGaN1Qgv2KebFDRBrZTjREyY</a>
                    <br>
                    <a href="https://github.com/0xb10c/memo">memo on github</a>
                    <br>
                    misteakes and everything else: <a href="https://twitter.com/0xB10C">@0xB10C</a>
                    <br>
                    &copy; 2017 0xB10C
                </p>
            </div>
        </div>
    </footer>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="/js/mempoolobserver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
</body>
</html>
