body {
  /* color: #a7c6db;
  background-color: #0d2738;  */
}

a.href-target{
  padding-top: 65px;
  margin-top: -65px;
}


/* navbar */

.navbar-white {
  background: #ffffff !important;
}

#brand-icon {
  height: 40px;
  transition: transform .2s ease-in-out;
  transform: rotate(0deg) translate(0px, 0px) scale(1);
}

#brand-icon text {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out 0.18s;
  opacity: 1;
}

.scrolled #brand-icon {
  margin-inline-end: -6.5rem;
  transition: transform .2s ease-in-out, margin-inline-end .2s ease-in-out;
  transform: rotate(90deg) translate(10px, 3rem) scale(1.4);
}

.scrolled #brand-icon text {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  opacity: 0;
}

/* current mempool card */

#input-lookup-txid {
  background-image: none;
  padding: 0.5em;
}

#current-mempool-tx-data {
  display: none;
}

/* chart */

  /* https://github.com/c3js/c3/issues/210 */

.c3-tooltip th {
  display: none;
}

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
  stroke: transparent;
}

.c3 .c3-axis-y path,
.c3 .c3-axis-y line,
.c3 .c3-axis-y2 path,
.c3 .c3-axis-y2 line {
  stroke: gray;
}

.c3-axis-x .tick {
  display: none;
}

.c3 .c3-xgrid-focus line {
  visibility: hidden !important;
}

.c3 .c3-ygrid-line line {
  margin-left: 20px;
}

.c3-ygrid-line.user-tx > text {
  fill: red;
  transform: translateY(17px);
}
.c3-ygrid-line.user-tx > line {stroke: red;}

.c3 .c3-axis-y-label,
.c3 .c3-axis-y2-label {
  font-size: 1.2em;
}

.c3 .tick {
  font-size: 1.4em;
}

.c3 .c3-axis-x g,
.c3 .c3-axis-y g,
.c3 .c3-legend-item-data text {
  fill: black;
}
