body {
  /* color: #a7c6db;
  background-color: #0d2738;  */
}

.c3-tooltip th {
  display: none;
}

.navbar-white {
  background: #ffffffea !important;
}

.c3 .c3-axis-x path,
.c3 .c3-axis-x line {
  stroke: transparent;
}

.c3 .c3-axis-y path,
.c3 .c3-axis-y line,
.c3 .c3-axis-y2 path,
.c3 .c3-axis-y2 line {
  stroke: gray;
}

.c3-axis-x .tick {
  display: none;
}

.c3 .c3-xgrid-focus line {
  visibility: hidden !important;
}

.c3 .c3-ygrid-line line {
  margin-left: 20px;
}

.c3 .c3-axis-y-label,
.c3 .c3-axis-y2-label {
  font-size: 1.2em;
}

.c3 .tick {
  font-size: 1.4em;
}

.c3 .c3-axis-x g,
.c3 .c3-axis-y g,
.c3 .c3-legend-item-data text {
  fill: black;
}

/* https://github.com/c3js/c3/issues/210 */