html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin top and bottom by nav and footer height */
  margin-bottom: 60px;
  margin-top: 60px;
}
.card-body {
  /* So it doesn't need to resize after chart is rendered */
  min-height: 822px; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}