html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top and bottom by nav and footer height */
  margin-bottom: 60px;
  margin-top: 60px;
}

a.href-target {
  padding-top: 65px;
  margin-top: -65px;
}


/* navbar */

.navbar-white {
  background: #ffffff !important;
}

#brand-icon {
  height: 40px;
  transition: transform .2s ease-in-out;
  transform: rotate(0deg) translate(0px, 0px) scale(1);
}

svg#brand-icon g.text {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out 0.18s;
  opacity: 1;
}

.scrolled #brand-icon {
  margin-inline-end: -6.5rem;
  transition: transform .2s ease-in-out, margin-inline-end .2s ease-in-out;
  transform: rotate(90deg) translate(10px, 2.5rem) scale(1.4);
}

.scrolled svg#brand-icon g.text {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  opacity: 0;
}

/* current mempool card */

.input-subtitle {
  cursor: pointer;
  text-decoration: underline;
}

#input-lookup-txid {
  background-image: none;
  padding: 0.5em;
}

#current-mempool-tx-data {
  display: none;
}

#card-current-mempool.card-body {
  /* So it doesn't need to resize after chart is rendered */
  min-height: 822px;
}

/* past blocks card */

#past-blocks-timer {
  background-color: #ff000036;
  /* have a bit less padding on the bottom lets it appear more centered */
  padding: 0.4rem; 
  padding-bottom: 0.3rem;
  border-radius: 0.3rem;
}


/* current mempool card chart */

.c3-tooltip th {
  display: none;
}

#current-mempool-chart.c3 .c3-axis-x path,
#current-mempool-chart.c3 .c3-axis-x line {
  stroke: transparent;
}

#current-mempool-chart.c3-axis-y path,
#current-mempool-chart.c3-axis-y line,
#current-mempool-chart.c3-axis-y2 path,
#current-mempool-chart.c3-axis-y2 line {
  stroke: gray;
}

#current-mempool-chart.c3 g.c3-axis.c3-axis-x g.tick {
  display: none;
}

#current-mempool-chart.c3 .c3-xgrid-focus line {
  visibility: hidden !important;
}

#current-mempool-chart.c3 .c3-ygrid-line line {
  margin-left: 20px;
}

.c3-ygrid-line.red-line > text {
  fill: red;
  transform: translateY(17px);
}


/* past blocks card */

#card-past-blocks.card-body {
  min-height: 688;
}

.time-since-last-block.c3-region {
  fill: red;
  fill-opacity: 0.1;
}

#card-past-blocks.c3-xgrid-line > line,
#card-past-blocks.c3-ygrid-line > line {
  stroke: rgb(50, 50, 50);
}

#card-past-blocks g.c3-lines-block > path {
  visibility: hidden;
}

#card-past-blocks circle.c3-circle {
  clip-path: inset(3px 3px 3px 3px);
  fill: #323232 !important;
}

/* hides the last block */
#card-past-blocks circle.c3-shape.c3-shape-10.c3-circle.c3-circle-10 {
  display: none;
}

#card-past-blocks .c3-xgrid-line > line {
  stroke: rgb(50, 50, 50);
  stroke-width: 1.5px;
}

/* general chart css*/
.red-line > line {
  stroke: red !important;
}

.red-line > text {
  fill: red !important;
}


.c3-ygrid-line > text,
.c3-xgrid-line > text {
  fill: rgb(50, 50, 50);
  font-size: 1.2em;
}


.c3 .c3-axis-y-label,
.c3 .c3-axis-y2-label {
  font-size: 1.2em;
}

.c3 .tick {
  font-size: 1.4em;
}

.c3 .c3-axis-x g,
.c3 .c3-axis-y g,
.c3 .c3-legend-item-data text {
  fill: rgb(50, 50, 50);
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}

#footer-mobile .container {
  line-height: 1.5;
}

#footer-desktop {
  display: none;
}

/* media queries */
@media only screen and (min-width: 768px) {
  #footer-mobile {
    display: none;
  }

  #footer-desktop {
    display: block;
  }
}